version: "3.9"

services:
  backend:
    build: ./backend
    hostname: backend-host
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    networks:
      - ares-network

  frontend:
    build: ./frontend
    hostname: frontend-host
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    environment:
      BACKEND_URL: http://backend-host:8000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - ares-network

networks:
  ares-network: {}

volumes:
  node_modules:
